@font-face {
  font-family: 'Bangers';
  src: url("https://fonts.googleapis.com/css?family=Bangers");
  font-style: normal;
}
#MainPage{
background-color: 
}
h1 {
  color: Red;
  text-align: center;
  font-family: 'Lobster', cursive;
}
#Agree{
  background-color: #8c4d24;
font-family: 'Bangers', cursive;
}
#Disagree{
background-color: #e26ab0;
font-family: 'Bangers', cursive;
}
#Agreepage{
  background-color: red;}
#DisagreePage{
h1}
  
$