/* GLOBAL STYLES */
@font-face {
  font-family: 'Bangers';
  src: url("https://fonts.googleapis.com/css?family=Bangers");
  font-style: normal;
}
h1 {
  color: Red;
  text-align: center;
  font-family: 'Lobster', cursive;
}


/* MAIN PAGE */
#MainPage{
background-color: #FFBD50;
}
#Agree{
  background-color: #8c4d24;
font-family: 'Bangers', cursive;
width: 115px;
height: 40px;
margin: 30px;
}
#HomeButtons{
display: flex;
justify-content: center;
}
#Disagree{
background-color: #e26ab0;
font-family: 'Bangers', cursive;
width: 115px;
height: 40px;
margin: 30px;
}


/* AGREE PAGE */
#Agreepage{
  background-color: #FFBD50;
}
#happy{
    width: 400px;
    height: auto;
}

/* DISAGREE PAGE */
#DisagreePage{
 width: 1110px;
 border: 10px red;
    border-style:  double;
    margin: 90px;
    padding: 4px;;
background-color: #FFBD50;
  
  
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  P
#MadTrump{
    width: 400px;
    height: auto;
}